.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; 
}

input[type=text], select{
  width: 35%;
  padding: 12px 20px;
  margin: 2% 2%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px; 
 
}

input[type=number] {
  width: 8%;
  padding: 12px 20px;
  margin: 2% 2%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px; 
}    

button{
  width: 12%;
  padding: 12px 20px;
  margin: 2% 2%;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  text-align:center;
}
.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer; 
}
.btn:focus {
  outline: none;
  animation: pulsate 1s infinite; 
}
button:disabled,button[disabled]{
  background-image: linear-gradient(to right, var(--color-grey-dark-3), var(--color-grey-dark-2));

}


@media only screen and (max-width: 56.25em) {
  input[type=text],button,input[type=number],select{
    width: 100%;
  }
}
